@import "../../styles/variables.scss";

.panel {

    background:$primaryColor;
    width:250px;
    min-height:100%;
    padding:20px 0 60px;
    position:fixed;
    box-sizing:border-box;
    transition:all .5s ease 0s;
    left:0;
    float:left;

  &.collapsed{
    
     left:-200px;
  }
 
  .photo-box {   
    figcaption {
      color:#fff;
      strong {
        font-size: $FS-subtitle;
        line-height: 24px;
      }

      .crop-photo {
        width: 100px;
        height: 100px;
        margin-bottom:40px;
      }
    }
  }
  .button-slider {
    position: absolute;
    top: 50px;
    right: -40px;
    padding: 10px 0;
    width: 40px;
    text-align: center;
    color: #fff;
    font-size: $FS-details;
    background: $primaryColor;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  }
  /*@media (max-width:599px){
    .panel{width:54px;left:-54px}
    .panel .navigation li{margin-bottom:30px}
    .panel .navigation li span{display:none}
    .panel .open{left:0}
    .panel .photo-box .crop-photo{width:40px;height:40px}
    .panel .button{width:10px;text-align:center;display:block;overflow:hidden;padding:5px 15px;margin-left:-10px;left:17px}
    figcaption strong{display:none}}
    */

    @media (max-width: 599px) {
      .panel {
        width: 54px;
        height: 54px;
        position:fixed;
    
        &.collapsed {
          left: 0;
        }
    
        .navigation {
        
            padding-left:0;
            display:flex;
            flex-direction:column;
            align-items:start;
      
          li {  
            line-height:10px;
         
            span {
              visibility:hidden;
            }
          }
        }
        .photo-box {
          margin-left: -35px;
          margin-bottom:40px;
          .crop-photo {
            width: 40px;
            height: 40px;           
          }
        }
        #back-button {
          width: 40px;
          white-space: nowrap;
          overflow: hidden;
    
          span {
              margin-left: 10px;
              margin-right: 15px;
          }
      }
      
    
        

      }
    }