$primaryColor:#222935;
$secondaryColor:#26c17e;
$detailsColor:#667081;
$figCaptionColor:#FFF;
$hover-color: #26C17E;
$info-bg-color:#EEEEEE;

$FS-XL:45px;
$FS-L:25px;
$FS-subtitle:16px;
$FS-details:18px;

$sectionPaddings:50px 0;
