@import "../../styles/variables.scss";

#main-inner {
   transition:all .5s ease 0s;
    height: 100vh;
    width: calc(100% - 250px);
   margin-left:0;
    flex-grow: 0;
    flex-shrink: 1;
    padding:80px 50px 0 300px;
  
    &.nav-hide {
      
      width: 100%;
      
      margin-left:-200px;
    }
    @media (max-width: 599px) {
      width:calc(100% - 100px);
      padding:80px 50px 0 100px;
    }
    
  }

  
