#main-home{
    background: linear-gradient(to top, rgba(0, 6, 20, .7), rgba(0, 6, 20, .7)), url(../../assets/background/welcome-bg.png) no-repeat center/cover;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    width:100%;
  }

